<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992752161681-hmvtf7r0n0potr0np3onefuihcihg487.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992752161681-hmvtf7r0n0potr0np3onefuihcihg487</string>
	<key>API_KEY</key>
	<string>AIzaSyAvwU9JpHu-J_PxSQKKHypbwF1Eis7nCMA</string>
	<key>GCM_SENDER_ID</key>
	<string>992752161681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>javier.apaez.TestiOS</string>
	<key>PROJECT_ID</key>
	<string>testios-f64b9</string>
	<key>STORAGE_BUCKET</key>
	<string>testios-f64b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992752161681:ios:fe4fee62144735298a4030</string>
</dict>
</plist>